
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');


body {
   
 background-color: white;
 width: 100;
}



.main {
    width: 100;
    height: 50px;
    background-image: linear-gradient(to left,#06beb6 , #48b1bf);
    border: 5px solid white;
    box-shadow: 8px 8px grey;
}

.hb {
  float: left; 
  padding: 3px 3px 0px 0px;
  background-color: white;
}
.hb button {
  text-align: center;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px -2.5px grey;
  font-size: smaller;
  margin: 0px 1px 4px 1px;
  font-family: 'Edu QLD Beginner', cursive;
  font-weight: bolder;
  cursor: pointer;
}

.hb button:hover {
  background-color: black;
  color: white;
  box-shadow: 2px -4.5px aqua;
  border: 2px solid white;

}


.smi {
  padding: 3px 3px 0px 0px;
  float: right; 
  background-color: white;

}
.smi img {
  margin: 0px 0px 0px 7px;
  border: 0.5px solid black;
  box-shadow: 0.5px -0.8px grey;
  cursor: pointer;
}
#ig{
  width: 16px;
}

.box3 {
  position: fixed;
 bottom: 0px;
  width: 100vw;
  height: 9vh;
  background-image: linear-gradient(to left,#06beb6 , #48b1bf);
}

.textbb{
  width: 20vw;
  position: relative;
  animation: mymov 15s infinite ;
  animation-fill-mode: forwards;


}

@keyframes mymov {
  from {left: 0px;}
  to {left: 100vw;background-color: rgb(255, 255, 255);}
}

#k {
  font-size: large;
  animation: both 2s;
  color: #48b1bf;
}

/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.container{
  width: 85%;
  background-image: linear-gradient(to left,#06beb6 , #48b1bf);
  border-radius: 6px;
  margin: 10vh 7.5vw ;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);
padding: 10px;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #000000;
}
.content .left-side .details{
  margin: 10px;
  text-align: center;
}
.content .left-side .email details i{
  font-size: 25px;
  color: #000000;
  margin-bottom: 5px;
}
.content .left-side .details .topic{
  font-size: 20px;
  padding-top: 10px;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #000000;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
    margin-top: 10px;
  font-size: 33px;
  font-weight: 300;
  color: #ffffff;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 18px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
    cursor: pointer;
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0px 15px ;
  margin-top: 15px;
  resize: none;
}
#ll{
    color: #ffffff;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 0px;
}
.right-side .button input[type="button"]{
  color: rgb(0, 0, 0);
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid black;
}
.button input[type="button"]:hover{
  background: #000000;
  color: white;
  border: 4px solid white;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

